name: fastapi-ci

on:  
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        id: commit
        uses: pr-mpt/actions-commit-hash@v2
      - 
        name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - 
        name: Install pipenv
        run: pip install pipenv
      - 
        name: Run tests
        working-directory: ./fastapi
        run: |
          pipenv install -r requirements.txt
          pipenv run pytest -v                          
        # Running pytest